<h1>{{title}}</h1>
<h2>Welcome to {{title}}</h2>
<h2>Delivery Made Easy!</h2>
<h3>We offer:</h3>

<ul>
    {{#each items}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<h2>Sign up for a free account</h2>
<a href='/signup' class='btn'>Click Here</a>